[main]
DEBUG : True
# CRITICAL	50
# ERROR		40
# WARNING	30
# INFO		20
# DEBUG		10
# NOTSET	0
DEBUG_LEVEL : 10
DISCOVER_DURATION : 5
SLEEP_DURATION : 5
SOCK_TIMEOUT_DURATION : 0.1
DAEMONIZE: False

# ON_EXIT_HOOK : true
ON_EXIT_HOOK : "/home/chris/bin/s2ram.sh"


[button_action]
BUTTON_ACTION_LEFT  : xmms --rew
BUTTON_ACTION_RIGHT : xmms --fwd
BUTTON_ACTION_UP    : true
BUTTON_ACTION_DOWN  : true
BUTTON_ACTION_PLUS  : amixer set PCM 2dB+
BUTTON_ACTION_MINUS : amixer set PCM 2dB-
BUTTON_ACTION_A     : xmms --play-pause
BUTTON_ACTION_B     : xmms --stop


[accel_config]
# 0x80 ie. gravity acceleration
ACCELEROMETER_ZERO : 128
# 0x20 : empirical value
ACCELEROMETER_PRECISION : 32 


[accel_action]
ACCEL_X_LEFT_ACTION  : true
ACCEL_X_RIGHT_ACTION : true
ACCEL_Y_UP_ACTION    : true
ACCEL_Y_DOWN_ACTION  : true
ACCEL_Z_FRONT_ACTION : true
ACCEL_Z_BACK_ACTION  : true
